.property
  = label_tag 'product_browse_option', t('workarea.admin.catalog_products.browse_by_option'), class: 'property__name'
  = select_tag 'product[browse_option]', options_for_select(product.browse_options, product.browse_option)
